@media (max-width: 1400px) {
  .main__do-text {
    margin-left: 100px;
  }

  .about__item {
    display: flex;
    justify-content: center;
  }

  .about__item-img {
    margin-right: 150px;
  }

  .container {
    max-width: 1270px;
  }
}
@media (max-width: 1300px) {
  .header__nav-logo {
    margin-left: 460px;
  }

  .header__nav-btn {
    margin-right: 0px;
  }

  .header__block-btn {
    position: absolute;
    left: 150px;
  }

  .header__block-btn2 {
    position: absolute;
    top: 18px;
    left: 80px;
    display: block;
    border: 2px solid #ffffff;
  }

  .header__nav-block {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000000;
    top: 0;
    left: -100%;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    transition: 0.5s;
    opacity: 0;
  }

  .header__nav-block.active {
    left: 0;
    opacity: 0.7;
  }
}
@media (max-width: 1285px) {
  .img__sliders {
    max-width: 222px;
  }

  .img__sliders-ted {
    max-width: 222px;
  }

  .carousel-inner-text {
    top: 366px;
    left: 142px;
  }

  .carousel-inner-title {
    top: 368px;
    right: 128px;
  }

  .slider__flex {
    width: 500px;
  }

  .slider__flex-images {
    display: none;
  }
}
@media (max-width: 1250px) {
  .header__nav-logo {
    margin-left: 420px;
  }
}
@media (max-width: 1244px) {
  .main__services-btn {
    padding: 15px 28px;
  }

  .main__do-title {
    font-size: 40px;
  }

  .main__do-btn {
    width: 200px;
    height: 60px;
    font-size: 30px;
  }

  .about__block-title {
    margin-bottom: 100px;
  }

  .about__item-img {
    margin-right: 100px;
    margin-left: 0;
  }

  .footer__questions-block {
    justify-content: space-around;
  }

  .footer__questions-logo {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .main__do-text {
    margin-left: 50px;
    margin-right: 50px;
  }

  .main__do-btn {
    width: 190px;
    height: 50px;
    font-size: 25px;
  }
}
@media (max-width: 1170px) {
  .header__nav-logo {
    margin-left: 380px;
  }
}
@media (max-width: 1100px) {
  .about__item-title {
    display: -webkit-box;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .about__item-img {
    margin-right: 50px;
    margin-left: 15px;
    max-width: 525px;
    height: 525px;
    width: 100%;
  }

  .header__nav-logo {
    margin-left: 333px;
  }

  .about__item {
    display: flex;
    justify-content: center;
  }

  .main__services-btn {
    padding: 10px 23px;
  }

  .main__do-title {
    font-size: 27px;
  }

  .main__do-text {
    margin-left: 30px;
    margin-right: 25px;
  }

  .main__do-btn {
    width: 170px;
    height: 45px;
    font-size: 25px;
  }

  .main_btn {
    margin-bottom: 70px;
  }

  .main__do-item {
    margin-top: 160px;
  }

  .main__do {
    margin-top: 35px;
  }

  .main__development {
    right: 200px;
  }

  .footer__fullname-input {
    width: 480px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 30px;
  }

  .footer__mailcont-input {
    width: 190px;
    height: 35px;
    font-size: 20px;
  }

  .footer__send-title {
    font-size: 20px;
    padding: 13px 180px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer__questions-logo {
    font-size: 26px;
  }

  .footer__contacts-title {
    font-size: 19px;
  }

  .footer__contacts-text {
    font-size: 18px;
  }

  .footer__mail-text {
    font-size: 18px;
    margin-top: 5px;
  }
}
@media (max-width: 980px) {
  .footer__questions-right-strip {
    width: 88%;
    margin-top: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .main__do {
    margin-top: 100px;
  }

  .main__do-item {
    margin-top: 120px;
  }

  .header__nav-logo {
    margin-left: 280px;
  }

  .main__development {
    right: 100px;
  }

  .about__block-title {
    margin-top: 60px;
  }

  .footer__questions-block {
    flex-direction: column;
    align-items: center;
  }

  .footer {
    height: 900px;
  }

  .portfolio__projects-title {
    margin-top: 55px;
  }

  .footer__questions-logo {
    font-size: 41px;
  }

  .footer__questions-left {
    margin-top: 60px;
  }

  .footer__fullname-input {
    width: 660px;
    height: 50px;
    font-size: 22px;
  }

  .footer__mailcont {
    display: flex;
    justify-content: space-between;
  }

  .footer__mailcont-input {
    width: 270px;
    height: 45px;
  }
}
@media (max-width: 955px) {
  .header__nav-logo {
    margin-left: 255px;
  }

  .about__item-img {
    max-width: 480px;
    height: 480px;
    width: 100%;
  }
}
@media (max-width: 912px) {
  .main__do-items {
    margin-bottom: 25px;
  }

  .main__do-text {
    margin-left: 20px;
    margin-right: 20px;
  }

  .main__do-text {
    max-width: 300px;
    font-size: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .main__do-item {
    margin-top: 88px;
  }

  .main__do {
    margin-top: 70px;
  }

  .about__item-img {
    max-width: 450px;
    height: 450px;
  }

  .about__block {
    top: 2050px;
  }

  .about__item-img {
    margin-right: 25px;
  }

  .about__item-title {
    max-width: 300px;
    -webkit-line-clamp: 10;
  }

  .portfolio__projects {
    top: 3100px;
  }

  .main__development {
    right: 80px;
  }
}
@media (max-width: 872px) {
  .header__nav-logo {
    margin-left: 220px;
  }

  .footer {
    top: 4260px;
  }
}
@media (max-width: 820px) {
  .header__nav-logo {
    margin-left: 190px;
  }

  .main__development-title {
    font-size: 43px;
  }

  .main__development-text {
    font-size: 30px;
  }

  .main__development {
    right: 50px;
  }

  .main__services-we {
    top: 818px;
  }

  .main__do-text {
    max-width: 245px;
    -webkit-line-clamp: 2;
  }

  .main__do-btn {
    width: 150px;
    height: 40px;
    font-size: 25px;
  }

  .footer__questions-right-strip {
    width: 95%;
  }
}
@media (max-width: 785px) {
  .header__block-btn2 {
    top: 17px;
  }

  .header__nav-logo {
    margin-left: 190px;
  }

  .header__nav-btn {
    width: 150px;
    height: 40px;
    font-size: 17px;
  }

  .header__nav-logo {
    font-size: 18px;
  }

  .about__item-img {
    max-width: 400px;
    height: 400px;
  }

  .main__do-btn {
    font-size: 23px;
  }

  .about__block {
    top: 1860px;
  }

  .about__item-text {
    margin-bottom: 25px;
  }

  .portfolio__projects {
    top: 2940px;
  }

  .footer {
    top: 4100px;
  }
}
@media (max-width: 745px) {
  .main__do-text {
    max-width: 200px;
    -webkit-line-clamp: 2;
  }

  .main__do-text {
    font-size: 18px;
  }

  .main__do-title {
    font-size: 24px;
  }

  .main__do-btn {
    width: 130px;
    height: 35px;
    font-size: 20px;
  }

  .main__services-btn {
    padding: 5px 17px;
  }

  .about__block {
    top: 1844px;
  }

  .about__item-img {
    max-width: 350px;
    height: 350px;
  }

  .portfolio__projects {
    top: 2860px;
  }
}
@media (max-width: 715px) {
  .header__nav-logo {
    margin-left: 160px;
  }

  .header__block-btn {
    width: 40px;
    height: 38px;
  }

  .header__block-btn2 {
    width: 40px;
    height: 38px;
  }

  .main__development-text {
    font-size: 26px;
    margin-top: 10px;
  }

  .main__development-title {
    font-size: 35px;
  }

  .main__services-we {
    top: 788px;
  }

  .main__services-logo {
    width: 222px;
    height: 55px;
    font-size: 27px;
  }

  .about__block {
    top: 1757px;
  }

  .portfolio__projects {
    top: 2747px;
  }

  .footer {
    top: 3900px;
  }

  .footer__fullname-input {
    width: 550px;
    height: 45px;
    font-size: 22px;
  }

  .footer__mailcont-input {
    width: 235px;
    height: 40px;
  }

  .footer__mailcont {
    margin-bottom: 33px;
  }

  .footer__fullname-input {
    margin-bottom: 22px;
  }

  .footer__questions-logo {
    font-size: 35px;
  }
}
@media (max-width: 690px) {
  .about__item-title {
    max-width: 230px;
    -webkit-line-clamp: 7;
  }

  .about__item-img {
    max-width: 300px;
    height: 300px;
  }

  .main__do-text {
    max-width: 171px;
  }

  .main__do-btn {
    width: 120px;
    height: 35px;
    font-size: 19px;
  }

  .header__nav-btn {
    display: none;
  }

  .header__block-btn {
    top: 17px;
    right: 60px;
    left: auto;
  }

  .header__block-btn2 {
    left: 60px;
  }

  .header__nav-logo {
    margin-left: 150px;
    margin-top: 6px;
  }

  .footer__contacts-text {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .footer__questions-logo {
    font-size: 25px;
  }

  .footer__contacts-title {
    font-size: 17px;
  }

  .footer__mail-title {
    margin-bottom: 0px;
  }

  .footer__mail-text {
    font-size: 17px;
    margin-top: 0px;
  }

  .footer__images-teg {
    width: 25px;
    height: 25px;
    margin-right: 16px;
  }

  .footer__questions-block {
    align-items: normal;
  }

  .footer__questions-right-strip {
    width: 100%;
    margin-top: 70px;
  }

  .footer__send-title {
    width: 490px;
    height: 50px;
    padding: 0;
  }

  .footer__fullname-input {
    width: 490px;
    height: 40px;
  }

  .footer__mailcont-input {
    width: 236px;
    height: 36px;
  }

  .footer__mailcont {
    justify-content: normal;
  }
}
@media (max-width: 600px) {
  .header__nav-logo {
    margin-left: 115px;
  }
}
@media (max-width: 580px) {
  .portfolio__projects {
    top: 2858px;
  }

  .about__item {
    flex-direction: column;
    align-items: center;
  }

  .about__item-title {
    max-width: 332px;
    -webkit-line-clamp: 10;
  }

  .about__block-title {
    margin-bottom: 70px;
  }

  .about__item-img {
    margin-right: 0;
    margin-left: 0;
    max-width: 350px;
    height: 350px;
    margin-bottom: 20px;
  }

  .footer {
    height: 850px;
  }

  .slider__flex {
    width: 363px;
  }

  .intro__indicators {
    margin-right: -136px;
    margin-top: 10px;
  }

  .container {
    max-width: 500px;
  }

  .portfolio__projects-images {
    margin-top: 40px;
  }

  .main__do-text {
    display: none;
  }

  .main_btn {
    margin-bottom: 50px;
  }

  .main__do-btn {
    width: 130px;
    font-size: 20px;
  }

  .header__nav-logo {
    margin-left: 100px;
  }
}
@media (max-width: 525px) {
  .line,
  .line::before,
  .line::after {
    width: 20px;
    margin-left: -10px;
  }

  .header__nav-logo {
    margin-left: 75px;
  }

  .header__block-btn {
    width: 35px;
    height: 34px;
  }

  .header__block-btn2 {
    width: 35px;
    height: 34px;
  }

  .about__item-img {
    margin-right: 0;
    margin-left: 0;
  }

  .main__services-we {
    top: 747px;
  }

  .footer__fullname-input {
    width: 400px;
    height: 35px;
    font-size: 20px;
  }

  .footer__mailcont-input {
    width: 190px;
    height: 33px;
  }

  .footer__send-title {
    width: 403px;
    height: 50px;
  }
}
@media (max-width: 492px) {
  .header__nav-logo {
    margin-left: 58px;
  }

  .main__development-title {
    font-size: 30px;
  }

  .main__development {
    right: 20px;
  }

  .footer__questions-logo {
    font-size: 23px;
  }

  .about__item-img {
    margin-right: 0;
    margin-left: 0;
  }

  .container {
    max-width: 433px;
  }
}
@media (max-width: 455px) {
  .header__block-btn2 {
    left: 20px;
  }

  .header__block-btn {
    right: 20px;
  }

  .about__item-img {
    margin-right: 0;
    margin-left: 0;
  }

  .header__nav-logo {
    margin-left: 33px;
  }
}
@media (max-width: 418px) {
  .header__nav {
    width: 444px;
  }

  .main__development-title {
    font-size: 25px;
  }

  .main__development {
    right: 0;
  }

  .main__services-we {
    width: 444px;
  }

  .footer {
    width: 444px;
  }

  .footer__fullname-input {
    width: 333px;
    height: 33px;
  }

  .footer__mailcont-input {
    width: 158px;
  }

  .footer__send-title {
    width: 341px;
    height: 45px;
  }

  .slider__flex {
    width: 333px;
  }

  .portfolio__projects {
    position: absolute;
    top: 3300px;
    left: 0;
    border-top: 3px solid #a57526;
    width: 444px;
  }

  .portfolio__projects {
    top: 3000px;
  }

  .about__block {
    width: 444px;
    top: 1666px;
  }

  .container {
    max-width: 370px;
  }

  .main__do-btn {
    width: 122px;
    font-size: 18px;
  }

  .main__services-btn {
    margin-right: 0;
  }

  .main__do-title {
    font-size: 23px;
  }

  .main__do-btn {
    width: 110px;
    height: 31px;
    font-size: 17px;
  }

  .about__item-img {
    margin-right: 0;
    margin-left: 0;
    max-width: 340px;
    height: 340px;
  }

  .footer {
    top: 4040px;
  }
}
@media (max-width: 414px) {
  .header__nav {
    width: 414px;
  }
  .main__development {
    right: 30px;
  }
  .main__do {
    font-size: 32px;
  }
  .container {
    max-width: 345px;
  }
  .main__do-title {
    margin-right: 10px;
  }
  .about__block {
    width: 414px;
  }
  .main__services-we {
    width: 414px;
  }
  .main__services-btn {
    padding: 1px 12px;
  }
  .about__item-title {
    max-width: 277px;
  }
  .about__item-img {
    max-width: 288px;
    height: 288px;
  }
  .portfolio__projects {
    width: 414px;
  }
  .footer {
    width: 414px;
  }
  .footer__questions-logo {
    font-size: 19px;
  }
}
@media (max-width: 393px) {
}
@media (max-width: 385px) {
  .header__nav {
    width: 399px;
  }
  .main__development {
    right: 10px;
  }
  .header__nav-logo {
    margin-left: 21px;
  }
  .main__services-we {
    width: 399px;
  }
  .about__block {
    width: 399px;
  }
  .about__item-img {
    max-width: 320px;
    height: 315px;
    margin-right: 0;
    margin-left: 0;
  }
  .about__item-title {
    max-width: 313px;
  }
  .portfolio__projects {
    width: 399px;
  }
  .portfolio__projects {
    top: 2909px;
  }
  .footer {
    top: 3939px;
    width: 399px;
  }
  .footer__questions-logo {
    font-size: 19px;
  }
}
@media (max-width: 375px) {
  .header__nav {
    width: 375px;
  }
  .header__nav-logo {
    margin-left: 10px;
  }
  .main__services-we {
    width: 375px;
  }
  .about__block {
    width: 375px;
  }
  .portfolio__projects {
    width: 375px;
  }
  .footer {
    width: 375px;
  }
  .main__development {
    right: 10px;
  }
}
@media (max-width: 360px) {
  .header__nav {
    width: 360px;
  }
  .header__nav-logo {
    margin-left: -1px;
  }
  .main__development {
    right: 15px;
  }
  .main_btn {
    margin-bottom: 30px;
  }
  .footer__fullname-input {
    width: 303px;
    height: 35px;
  }
  .main__services-we {
    width: 360px;
  }
  .about__block {
    width: 360px;
  }
  .portfolio__projects {
    width: 360px;
  }
  .footer {
    width: 360px;
  }
  .footer__mailcont-input {
    width: 143px;
  }
  .footer__send-title {
    width: 309px;
  }
}
@media (max-width: 350px) {
  .header__nav-btn {
    display: none;
  }
  .main__development {
    right: -100px;
  }
  .header__block-btn {
    top: 15px;
    left: 404px;
  }
  .about__item-img {
    margin-right: 0;
    margin-left: 0;
  }
  .header__block-btn2 {
    top: 15px;
    left: 25px;
  }
  .header__nav-logo {
    margin-left: 125px;
  }
  .main__services-we {
    top: 680px;
  }
  .main__services-we {
    width: 137%;
  }
  .main__do-text {
    display: none;
  }
  .container {
    max-width: 440px;
  }
  .header__nav {
    width: 137%;
    padding: 15px 0;
  }
  .about__block {
    width: 137%;
  }
  .about__item {
    flex-direction: column;
    align-items: center;
  }
  .about__item-title {
    max-width: 367px;
  }
  .about__item-text {
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about__block-title {
    margin-bottom: 25px;
  }
  .about__block {
    top: 1633px;
  }
  .portfolio__projects {
    top: 2700px;
    width: 137%;
  }
  .img__sliders {
    display: none;
  }
  .footer {
    width: 137%;
  }
  .footer {
    top: 3739px;
  }
  .footer__questions-block {
    align-items: center;
  }
}
